[main]
Description=
Host=access1.hearst.com
AuthType=1
GroupName=Hearst-VPN
GroupPwd=
enc_GroupPwd=0A2FFEC5779006B79034BBB34C86EFECC12FDF40EA0A32EE96BF1FD4F0E6ECDC14CEACB117F88793184B1681D89606BF7B003DA2A6FD8C784FD01A1A8DCDF8E9F613D562B38A8958
EnableISPConnect=0
ISPConnectType=0
ISPConnect=
ISPPhonebook=
ISPCommand=
Username=
SaveUserPassword=0
UserPassword=
enc_UserPassword=
NTDomain=
EnableBackup=0
BackupServer=
EnableMSLogon=1
MSLogonType=0
EnableNat=1
TunnelingMode=0
TcpTunnelingPort=10000
CertStore=0
CertName=
CertPath=
CertSubjectName=
CertSerialHash=00000000000000000000000000000000
SendCertChain=0
PeerTimeout=90
EnableLocalLAN=0
UseLegacyIKEPort=1 